extends layout

block content
  .row
    .col-xs-12.col-sm-12
      h2 Feedback
  .row
    .col-xs-12.col-sm-12
      form#feedback(role='form', action='/feedback', method='POST')
        input#_csrf(type='hidden', name='_csrf', value='#{csrf}')
        .form-group
          label.control-label(for='email') Email address
          input.input-lg.form-control#email(type='email', name='email', autocorrect='off', autocapitalize='off')
        .form-group
          label.control-label(for='message') What can I help you with?
          textarea.form-control#message(rows='3', name='message')
        button.btn.btn-primary.btn-block.btn-lg(type='submit') Submit
